pre {
    font-family: Courier;
    font-size: 9pt;
    line-height: 12pt
}
tt {
    font-family: Courier;
    font-size: 9pt;
    line-height: 12pt
}
code {
    font-family: Courier;
    font-size: 9pt;
    line-height: 12pt
}
kbd {
    font-family: Courier;
    font-size: 9pt;
    line-height: 12pt
}
samp {
    font-family: Courier;
    font-size: 9pt;
    line-height: 12pt
}
dt {
    margin: 0
}
big {
    font-size: larger
}
small {
    font-size: smaller
}
b {
    font-weight: bold
}
i {
    font-style: italic
}
body {
    margin: 10%;
    font-size: 12pt
}
p {
    margin: 1em 0
}
dl {
    margin: 1em 0
}
multicol {
    margin: 1em 0
}
dd {
    margin-left: 40px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
}
blockquote {
    margin: 1em 40px
}
figure {
    margin: 1em 40px
}
center {
    display: block;
    text-align: center
}
blockquote[type="cite"] {
    border: 3px solid;
    padding-left: 1em;
    border-color: blue;
    border-width: thin;
    margin: 1em 0
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0
}
h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0
}
h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.33em 0
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.67em 0
}
h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin: 2.33em 0
}
listing {
    font-size: medium;
    margin: 1em 0;
    white-space: pre
}
xmp {
    margin: 1em 0;
    white-space: pre
}
pre {
    margin: 1em 0;
    white-space: pre
}
plaintext {
    margin: 1em 0;
    white-space: pre
}
table {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0
}
caption {
    text-align: center
}
tr {
    vertical-align: inherit
}
tbody {
    vertical-align: middle
}
thead {
    vertical-align: middle
}
tfoot {
    vertical-align: middle
}
table > tr {
    vertical-align: middle
}
td {
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit
}
th {
    display: table-cell;
    font-weight: bold;
    padding: 1px;
    vertical-align: inherit
}
sub {
    font-size: smaller;
    vertical-align: sub
}
sup {
    font-size: smaller;
    vertical-align: super
}
nobr {
    white-space: nowrap
}
mark {
    background: none repeat scroll 0 0 yellow;
    color: black
}
abbr[title] {
    border-bottom: 1px dotted
}
acronym[title] {
    border-bottom: 1px dotted
}
ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
menu {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
dir {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
ul   li   ul {
    list-style-type: circle
}
ol {
    list-style-type: decimal
}
hr {
    color: gray;
    height: 2px
}