pre {
    font-family: courier;
    font-size: 9pt;
    line-height: 12pt
}
tt {
    font-family: courier;
    font-size: 9pt;
    line-height: 12pt
}
code {
    font-family: courier;
    font-size: 9pt;
    line-height: 12pt
}
kbd {
    font-family: courier;
    font-size: 9pt;
    line-height: 12pt
}
samp {
    font-family: courier;
    font-size: 9pt;
    line-height: 12pt
}
dt {
    margin: 0
}
big {
    font-size: larger
}
small {
    font-size: smaller
}
b {
    font-weight: bold
}
i {
    font-style: italic
}
body {
    margin: 10%;
    font-size: 12pt
}
p {
    margin: 1em 0
}
dl {
    margin: 1em 0
}
multicol {
    margin: 1em 0
}
dd {
    margin-left: 40px;
    margin-bottom: 0;
    margin-right: 0;
    margin-top: 0
}
blockquote {
    margin: 1em 40px
}
figure {
    margin: 1em 40px
}
center {
    display: block;
    text-align: center
}
blockquote[type="cite"] {
    border: 3px solid;
    padding-left: 1em;
    border-color: blue;
    border-width: thin;
    margin: 1em 0
}
h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0.67em 0
}
h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0
}
h3 {
    font-size: 1.17em;
    font-weight: bold;
    margin: 1em 0
}
h4 {
    font-size: 1em;
    font-weight: bold;
    margin: 1.33em 0
}
h5 {
    font-size: 0.83em;
    font-weight: bold;
    margin: 1.67em 0
}
h6 {
    font-size: 0.67em;
    font-weight: bold;
    margin: 2.33em 0
}
listing {
    font-size: medium;
    margin: 1em 0;
    white-space: pre
}
xmp {
    margin: 1em 0;
    white-space: pre
}
pre {
    margin: 1em 0;
    white-space: pre
}
plaintext {
    margin: 1em 0;
    white-space: pre
}
table {
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    text-indent: 0
}
caption {
    text-align: center;
    display: table-caption
}
tr {
    vertical-align: inherit
}
tbody {
    vertical-align: middle
}
thead {
    vertical-align: middle
}
tfoot {
    vertical-align: middle
}
table > tr {
    vertical-align: middle
}
td {
    padding: 1px;
    text-align: inherit;
    vertical-align: inherit;
    background-color: inherit
}
th {
    display: table-cell;
    font-weight: bold;
    padding: 1px;
    vertical-align: inherit;
    text-align: center;
    background-color: inherit
}
sub {
    font-size: smaller;
    vertical-align: sub
}
sup {
    font-size: smaller;
    vertical-align: super
}
nobr {
    white-space: nowrap
}
mark {
    background: none repeat scroll 0 0 yellow;
    color: black
}
abbr[title] {
    border-bottom: 1px dotted
}
acronym[title] {
    border-bottom: 1px dotted
}
ul {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
menu {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
dir {
    list-style-type: disc;
    margin: 1em 0;
    padding-left: 40px
}
ul li ul {
    list-style-type: circle
}
ol ul {
    margin-top: 0;
    margin-bottom: 0
}
ul ol {
    margin-top: 0;
    margin-bottom: 0
}
ul ul {
    margin-top: 0;
    margin-bottom: 0
}
ol ol {
    margin-top: 0;
    margin-bottom: 0
}
ol {
    list-style-type: decimal;
    margin: 1em 0;
    padding-left: 40px
}
dl {
    display: block;
    margin: 1em 0
}
hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px
}
pre {
    display: block;
    white-space: pre;
    margin: 1em 0
}
em {
    font-style: italic
}
u {
    text-decoration: underline
}
strike {
    text-decoration: line-through
}
strong {
    font-weight: bold
}
a[href] {
    text-decoration: underline;
    color: blue
}
q {
    display: inline
}
q::before {
    content: open-quote
}
q::after {
    content: close-quote
}
aside {
    display: block
}
article {
    display: block
}
main {
    display: block
}
nav {
    display: block
}
footer {
    display: block
}
header {
    display: block
}
section {
    display: block
}
cite {
    font-style: italic
}
code {
    font-family: monospaced
}
address {
    display: block;
    font-style: italic
}
center {
    text-align: center
}
del {
    text-decoration: line-through
}
dfn {
    font-style: italic
}
fieldset {
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 2px groove
}
figcaption {
    display: block
}
figure {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px
}
ins {
    text-decoration: underline
}
kbd {
    font-family: monospace
}
mark {
    background-color: yellow;
    color: black
}
s {
    text-decoration: line-through
}
samp {
    font-family: monospace
}
var {
    font-style: italic
}
img[align="left"] {
    margin-right: 3px
}
address {
    display: block
}
blockquote {
    display: block
}
body {
    display: block
}
dd {
    display: block
}
div {
    display: block
}
dl {
    display: block
}
dt {
    display: block
}
fieldset {
    display: block
}
form {
    display: block
}
frame {
    display: block
}
frameset {
    display: block
}
h1 {
    display: block
}
h2 {
    display: block
}
h3 {
    display: block
}
h4 {
    display: block
}
h5 {
    display: block
}
h6 {
    display: block
}
iframe {
    display: block
}
noframes {
    display: block
}
object {
    display: block
}
ol {
    display: block
}
p {
    display: block
}
ul {
    display: block
}
applet {
    display: block
}
center {
    display: block
}
dir {
    display: block
}
hr {
    display: block
}
menu {
    display: block
}
pre {
    display: block
}
li {
    display: list-item
}
table {
    display: table
}
tr {
    display: table-row
}
thead {
    display: table-header-group
}
tbody {
    display: table-row-group
}
tfoot {
    display: table-footer-group
}
col {
    display: table-column
}
colgroup {
    display: table-column-group
}
td {
    display: table-cell
}
th {
    display: table-cell
}
caption {
    display: table-caption
}