p:nth-of-type(3n + 1){
	color: red;
}

p:nth-of-type(3n - 1){
	color: blue;
}

p:nth-of-type(0n){
	background: maroon;
}

p:nth-of-type(0n+0){
	background: black;
}

p:nth-of-type(0){
	background: violet;
}

span {
	font-size: 24px;
	text-align: center; 
}

span:nth-of-type(5n-1) {
	background: cyan;
	
}