@font-face {
  font-family: 'Droid Serif';
  font-weight: 400;
  font-style: normal;
  src: url('web-fonts/droid-serif-regular.ttf') format('truetype'),
       url('web-fonts/droid-serif-invalid.ttf') format('opentype')/* test invalid font */;
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 700;
  font-style: normal;
  src: url('web-fonts/droid-serif-bold.ttf') format('opentype');
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 300;
  font-style: normal;
  src: url('../../fonts/Amaranth-Regular.woff') format('opentype');
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 500;
  font-style: normal;
  src: url('web-fonts/droid-serif-italic.ttf') format('truetype');
}

@font-face {
  font-family: 'Droid Serif';
  font-weight: 800;
  font-style: normal;
  src: url('web-fonts/droid-serif-bolditalic.ttf') format('truetype');
}


p {
  font-size: 24pt;
}